<div class="container">
  <h1 class="text-center">Trang chủ</h1>
  <div class="row">
    @for(product of products; track product.id) {
    <div class="col">
      <!-- Product Card -->
      <div class="card" style="width: 18rem">
        <img class="card-img-top" [src]="product.image" alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">{{ product.title }}</h5>
          <p class="card-text">
            {{ product.description }}
          </p>
          <p class="card-text">Price: {{ product.price }} VND</p>
          <div class="mt-auto d-flex justify-content-between">
            <a [routerLink]="['product', product.id]" class="btn btn-primary">Xem sản phẩm</a>
            <a [routerLink]="['cart', product.id]" class="btn btn-warning">Thêm giỏ hàng</a>
          </div>
        </div>
      </div>
    </div>
    } @empty {
    <h2>Không có sản phẩm nào.</h2>
    }
  </div>
</div>